# dapp url, fetch dapps
VITE_DAPP_URL=https://script.google.com/macros/s/AKfycbz7jwsmIt8tFQFcesUvlUdYELZ17Dg8Y-VY3qHFDnKzS02R91JVqRq5D9Tk0AiNiROP-A/exec
# dapp apikey or just set dapp name
VITE_TEST_API_KEY=localhost
# rpc
VITE_RPC_SEPOLIA=https://rpc.sepolia.org/
DAPP_TOKEN=
# etherscan apikey
ETHERSCAN_API_KEY=
HISTORY_EVM_API_BASE_URL_1=https://api.etherscan.io/v2/api
HISTORY_EVM_API_BASE_URL_11155111=https://api.etherscan.io/v2/api
